{% extends 'send_mail/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Сервис рассылок</h1>
    <p class="lead">Сервис рассылок - это отличный вариант отправки уведомлений большому количеству пользователей.</p>
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Пользователь {{ object.pk }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    Почта: {{ object.email }}
                </ul>
                {% if object.is_active %}
                <a class="btn btn-lg btn-block btn-outline-primary mt-3"
                   href="{% url 'users:block_user' object.pk %}">Заблокировать пользователя</a>
                {% else %}
                <a class="btn btn-lg btn-block btn-outline-primary mt-3"
                   href="{% url 'users:block_user' object.pk %}">Разблокировать пользователя</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}