{% extends 'send_mail/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Сервис рассылок</h1>
    <p class="lead">Сервис рассылок - это отличный вариант отправки уведомлений большому количеству пользователей.</p>
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'send_mail:create_client' %}">Добавить нового клиента</a>
    </div>
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.full_name }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    {{ object.email }}
                </ul>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    {{ object.comment|truncatechars:45 }}
                </ul>
                <a class="btn btn-lg btn-block btn-outline-primary mt-3"
                   href="{% url 'send_mail:edit_client' object.pk %}">Изменить</a>
                <a class="btn btn-lg btn-block btn-outline-primary mt-3"
                   href="{% url 'send_mail:delete_client' object.pk %}">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}