{% extends 'send_mail/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Тема рассылки: {{ object.message.message_subject }}
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        Описание рассылки: {{ object.message.message_body }}
                    </p>
                    <p>
                        Статус рассылки: {{ object.status }}
                    </p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
