{% extends 'send_mail/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Настройки рассылки
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        Период рассылки: {{ object.get_period_display }}
                    </p>
                    <p>
                        Статус рассылки: {{ object.get_status_display }}
                    </p>
                    <p>
                        Время начала рассылки: {{ object.start_time }}
                    </p>
                    <p>
                        Время окончания рассылки: {{ object.end_time }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}